.top-bar{
    display: flex;
    justify-content: flex-end;
    background-color:black ;
    padding: .5rem;

}
.top-bar img{
    width: 90px;
}
.border-radius{
    border-radius: 2rem;
}
.bg-img{
    margin-top: 6.3rem;
    background-image: url('img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 400px;
    display: flex;
    align-items: flex-end;
    background-position: center;
}
.logo-r{
    width: 300px;;
}
.space{
    margin: 1rem; ;
}
.game-img img{
    width: 100%;
    border-radius: 2rem;
}
.padding-cont{
    margin-top: 1rem;
}
.dropdown{
    position: static;
}
.dropdown-menu{
    width: 100%;
}
.ps5{
    text-align: center;
    margin: 3rem 0 ;
}
.ps5 h1{
    margin-bottom: 1rem;
}
.ps5 div{
    color: blue;
}
.btn-margin{
    border-radius: 2rem;
}
.console{
    margin-bottom: 2rem;
    margin-left: .5rem
}
.console h1{
    margin-bottom: 1rem; ;
}
.console p{
    margin-bottom: 1rem; ;
}
.align{
    justify-content: flex-start;
    text-align: start;
    align-items: center;
    
}